.todo_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
  height: 55px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
  border-left: 1px solid rgba(128, 128, 128, 0.226);
  border-right: 1px solid rgba(128, 128, 128, 0.226);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #212529;
  margin: auto;
}

.todo_item > span {
  flex-grow: 1;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-user-select: all;
}

.todo_item > span:focus {
  outline: none !important;
  border: 0 !important;
}
.button-block button:focus {
  border: 0;
  outline: 0;
}

.button-block {
  margin: auto 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #051a152f;
  transition: border 600ms ease-in-out;
}
#cancel-block {
  border: 0;
}

.button-block button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;
  margin: -15px 0 0 -15px;
  cursor: pointer;
}

.mark.x {
  height: 20px;
  right: 11px;
  top: 5px;
  width: 2px;
  transform: rotate(30deg);
}

.mark.xx {
  height: 8px;
  width: 2px;
  top: 15px;
  left: 9px;
  transform: rotate(-45deg);
}

.mark {
  background-color: #1abc9c;
  position: absolute;
  transition: all 600ms ease-in-out;
  padding: 0%;
}

.mark.y {
  height: 18px;
  background-color: rgba(255, 0, 0, 0.301);
  width: 2px;
  transform: rotate(45deg);
  top: 7px;
}

.mark.yy {
  height: 18px;
  background-color: rgba(255, 0, 0, 0.301);
  width: 2px;
  transform: rotate(-45deg);
  top: 7px;
}
